<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>FIRESTORE_API_KEY</key>
	<string>$(FIRESTORE_API_KEY)</string>
	<key>FIRESTORE_PROJECT_NAME</key>
	<string>$(FIRESTORE_PROJECT_NAME)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>SplashViewBackground</string>
	</dict>
</dict>
</plist>
